[global]
core = ../../roms/edk2

####################################################################################
# options

[opts.common]
conf = UefiTestToolsPkg/UefiTestToolsPkg.dsc
plat = UefiTestTools
module = UefiTestToolsPkg/BiosTablesTest/BiosTablesTest.inf
dest = ./Build
####################################################################################
# riscv64

[build.riscv]
arch = RISCV64
cpy1 = RISCV64/BiosTablesTest.efi  bios-tables-test.riscv64.efi
